
:root{ 
--blue:#00b8b8;
--black: #333;
--white: #fff;
--light-color: #666;
--border:.2rem solid rgba (0,0,0,.1);
---box-shadow:0 .5rem 1rem rgba(0,0,0.1);






}

*{
font-family: "Poppins", sans-serif;
margin: 0; padding: 0;
box-sizing: border-box;
outline: none; border:none;
text-decoration:none;
text-transform: capitalize;




}
*::-webkit-scrollbar-track{ 
    background-color: transparent;
    
}
*::-webkit-file-thumb{ 
    background-color:var (--gold);
}
html{ 
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6.5 rem;
}
.header{ 
padding: 2rem;
border-bottom: var (--border);
}
.header.logo  span { 
color: var(--gold);
}
.header.nav  a{ 
    margin: 0 1 rem;
    font-size: 1.7 rem;
    color: var(--black);
}
